.siimple-h1
{
    color: var(--lighter);
}

.siimple-btn
{
  border-radius: 15px;
}

.siimple-select
{
  color: var(--darker);
  background-color: var(--lighter);
}

.siimple-select > option 
{ 
  color: var(--darker); 
}
