.siimple-h1
{
    color: var(--lighter);
}

.siimple-btn
{
  border-radius: 15px;
  animation: slide-in 1s;
}

@keyframes slide-in
{
  0% {left: -50px;}
  100% {left: 0px;}
}

.siimple-select
{
  color: var(--darker);
  background-color: var(--lighter);
}

.siimple-select > option 
{ 
  color: var(--darker); 
}

.siimple-input
{
  background-color: var(--lighter);
  color: var(--darker);
  animation: slide-in 1s;
}

.siimple-form-label
{
  color: var(--lighter);
}
